body {
    margin: 0;
}

.header-main{
    display: flex;
    justify-content: space-between;
    background-color: rgb(243, 131, 2);
}

.header-main img {
    height: 100%;
}

.header-text {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 70px;
}
.header-text a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    padding: 20px;
}

.header_left_right{
    display: flex;
    justify-content: space-between;
}
.right {
    border-left: 2px solid rgb(243, 131, 2);
}
.left {
    margin-top: 20px;
    margin-right: 5%;
}
.left li {
    display: block;
    width: 160px;
    text-decoration: none;
    list-style: none;
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 5px;
    margin-left: 2px;
    border-bottom: 2px solid rgb(243, 131, 2);
}